@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

.caja {
  width: 150px;
  height: 150px;
  line-height: 100px;
  font-family: gluten-regular;
  border: 5px solid #fff;
}

.color-1 {
  background-color: #FF6363;
}

.color-2 {
  background-color: #36AE7C;
}

.color-3 {
  background-color: #187498;
}

.color-4 {
  background-color: #019267;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

/*
    Relative -> El elemento mantendra su posicion y medidas en el flujo de renderizado y mantendra su espacio reservado. Si lo movemos lo hara usando su posicion en el html como punto de referencia.

    Orden de apilamiento: el ultimo elemento declarado es el que predomina

    Punto de referencia de caja es el borde superior izquierdo.

*/

.posicion-1,
.posicion-2,
.posicion-3,
.posicion-4 {
  position: relative;
}

.posicion-1 {
  top: 50px;
  left: 150px;
  /* invertir el orden de apilamiento */
  z-index: 100;
}

.posicion-2 {
  bottom: 50px;
  left: 150px;
  z-index: 10;
}

.posicion-3 {
  top: 50px;
  left: 150px;
}

.posicion-4 {
  bottom: 100px;
  left: 150px;
  border-radius: 75px;
}

/*# sourceMappingURL=01-relative.css.map */
