@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

.caja {
  width: 150px;
  height: 150px;
  line-height: 100px;
  font-family: gluten-regular;
  border: 5px solid #fff;
}

.color-1 {
  background-color: #FF6363;
}

.color-2 {
  background-color: #36AE7C;
}

.color-3 {
  background-color: #187498;
}

.color-4 {
  background-color: #019267;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

.contenedor {
  margin: 0 10px 20px;
  padding: 10px;
  background-color: #43919B;
}

/*
    Absolute -> El elemento perdera sus medidas y su espacio reservado. Si lo movemos usara el elemento padre posicionado como referencia. Si no tiene ninguno, usara el elemento html de referencia.


    Absolute en elementos de linea, este genera un entorno de bloque con los cual se le puede dar medidas, evitando colocar un display block o display inline-block.

*/
/* contenedor posicionado para usarlo como referencia */
.contenedor {
  position: relative;
  width: 500px;
  height: 350px;
  margin-bottom: 20px;
  background-color: darkgray;
}

/* usando posicion absolute */
.posicion-1,
.posicion-2,
.posicion-3,
.posicion-4 {
  position: absolute;
}

/* borde superior izquierdo del contenedor */
.posicion-1 {
  top: 0;
  left: 0;
}

/* borde superior derecho del contenedor */
.posicion-2 {
  top: 0;
  right: 0;
}

/* borde inferior izquierdo del contenedor */
.posicion-3 {
  bottom: 0;
  left: 0;
}

/* borde inferior derecho del contenedor */
.posicion-4 {
  bottom: 0;
  right: 0;
}

/*# sourceMappingURL=02-absolute.css.map */
