@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

/*
Fixed -> El elemento perdera sus medidas y su espacio reservado. Si lo movemos usara el elemento html de referencia, y ademas se quedara fijo en esa posicion aunque hagamos scroll.

Fixed siempre hara referencia al html, no importa su contenedor.

*/
.menu {
  position: fixed;
  top: 0;
  z-index: 1000;
  margin: 0;
  width: 100%;
  height: 10vh;
  padding: 0.5em 1em;
  font-size: 2rem;
  background-color: #04293a;
}

main {
  position: relative;
  top: 10vh;
  z-index: 100;
}

p {
  font-family: gluten-regular, sans-serif;
  font-size: 1.25rem;
}

/*# sourceMappingURL=03-fixed.css.map */
