@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

/*
    Sticky -> Es una mezcla de position relative y "fixed".

    Con este tipo de posicionamiento los valores top, bottom, left y right no sirven para mover el elemento, si no, para indicarle en que punto pasara a tener un comportamiento de posicionamiento similar a fixed, hasta llegar a ese punto se comportara como si no tuviera posicionamiento, aunque si contara como posicionamiento si necesitaramos colocar otro elemento respecto a el (absoluto).

    Con sticky recorremos las dimensiones (alto) del elemento que lo contiene.

    Sticky no funcionara si la propiedad overflow esta en otra configuracion que no sea visible (defecto).
*/
img {
  display: block;
  width: 100%;
  height: 100px;
}

.header {
  text-align: center;
  background-color: #43919B;
  color: #000;
  /* contenedor padre tendra un alto definido */
  height: 250px;
  /* position: sticky;
  top: 0; */
}

.menu {
  padding: 10px;
  font-size: 2rem;
  /* mientras hagamos scroll en los 250px (alto del padre), se comportara como si fuera fixed en la parte de arriba */
  position: sticky;
  top: 0;
}

article {
  border: 1px solid red;
  margin-bottom: 20px;
  background-color: #43919B;
  /*Titulo del articulo fijo*/
}
article .article-title {
  margin: 0;
  padding: 10px;
  font-size: 1.5rem;
  font-family: gluten-bold, serif;
  position: sticky;
  top: 0;
  background-color: #43919B;
}
article p {
  font-size: 1.25rem;
  font-family: gluten-regular, sans-serif;
  background-color: #187498;
}

/*# sourceMappingURL=04-sticky.css.map */
