$bg-fondo: #334756;
$-bg-fondo-resaltado: #04293a;
$bg-header: $-bg-fondo-resaltado;
$bg-footer: $-bg-fondo-resaltado;
$color-font-1: #fff;
$color-font-2: #000;
$bg-item-menu: #2c394b;
$bg-item-menu-hover: #0a7066;
$bg-unidad: #35858b;
$bg-tarjeta: #062c30;
$-resaltado-tarjeta: #05595b;
$bg-titulo-tarjeta: $-resaltado-tarjeta;
$bg-enlace-tarjeta: $-resaltado-tarjeta;
$bg-enlace-tarjeta-hover: #019267;
$box-shadow-bajo: 2px 2px 10px rgba(0,0,0,0.25);
$box-shadow-medio: 2px 2px 10px rgba(0,0,0,0.5);
$box-shadow-alto: 2px 2px 10px rgba(0,0,0,0.75);
$color-1: #FF6363;
$color-2: #36AE7C;
$color-3: #187498;
$color-4: #019267;
$color-5: #005555;
$color-6: #FF8E00;
$color-7: #06FF00;
$color-8: #0CECDD;
$color-9: #C32BAD;
$color-10: #7027A0;
$bg-articulo: #43919B;
$bg-texto: #FF6B6B;