@font-face {
    font-family: roboto-black;
    src: url("./../../../public/assets/font/Roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: roboto-black-italic;
    src: url("./../../../public/assets/font/Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
    font-family: roboto-bold;
    src: url("./../../../public/assets/font/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: roboto-bold-italic;
    src: url("./../../../public/assets/font/Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: roboto-italic;
    src: url("./../../../public/assets/font/Roboto/Roboto-Italic.ttf");
}

@font-face {
    font-family: roboto-light;
    src: url("./../../../public/assets/font/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: roboto-light-italic;
    src: url("./../../../public/assets/font/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: roboto-medium;
    src: url("./../../../public/assets/font/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: roboto-medium-italic;
    src: url("./../../../public/assets/font/Roboto/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: roboto-regular;
    src: url("./../../../public/assets/font/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto-thin;
    src: url("./../../../public/assets/font/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: roboto-thin-italic;
    src: url("./../../../public/assets/font/Roboto/Roboto-ThinItalic.ttf");
}
