@font-face {
    font-family: lato-black;
    src: url("./../../../public/assets/font/Lato/Lato-Black.ttf");
}

@font-face {
    font-family: lato-black-italic;
    src: url("./../../../public/assets/font/Lato/Lato-BlackItalic.ttf");
}

@font-face {
    font-family: lato-bold;
    src: url("./../../../public/assets/font/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: lato-bold-italic;
    src: url("./../../../public/assets/font/Lato/Lato-BoldItalic.ttf");
}

@font-face {
    font-family: lato-italic;
    src: url("./../../../public/assets/font/Lato/Lato-Italic.ttf");
}

@font-face {
    font-family: lato-light;
    src: url("./../../../public/assets/font/Lato/Lato-LightItalic.ttf");
}

@font-face {
    font-family: lato-light-italic;
    src: url("./../../../public/assets/font/Lato/Lato-LightItalic.ttf");
}

@font-face {
    font-family: lato-regular;
    src: url("./../../../public/assets/font/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: lato-thin;
    src: url("./../../../public/assets/font/Lato/Lato-Thin.ttf");
}

@font-face {
    font-family: lato-thin-italic;
    src: url("./../../../public/assets/font/Lato/Lato-ThinItalic.ttf");
}
