@font-face {
    font-family: gluten-bold;
    src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}

@font-face {
    font-family: gluten-light;
    src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}

@font-face {
    font-family: gluten-regular;
    src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}

@font-face {
    font-family: gluten-thin;
    src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}