@use "./../global/colores" as color;
@use "./../global/font-gluten";

@mixin reset-mp {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
    min-height: 100%;
    text-align: center;
    background-color: color.$bg-fondo;
    color: color.$color-font-1;
}

.caja{
    width: 150px;
    height: 150px;
    line-height: 100px;
    font-family: gluten-regular;
    border: 5px solid #fff;
}

.centrado{
    margin: 0 auto 20px;
}

.izquierda{
    margin: 0 auto 20px 0;
}

.derecha{
    margin: 0 0 20px auto;
}

.color-1{
    background-color: color.$color-1;
}

.color-2{
    background-color: color.$color-2;
}

.color-3{
    background-color: color.$color-3;
}

.color-4{
    background-color: color.$color-4;
}

.color-5{
    background-color: color.$color-5;
}

.color-6{
    background-color: color.$color-6;
}

.color-7{
    background-color: color.$color-7;
}

.color-8{
    background-color: color.$color-8;
}

.color-9{
    background-color: color.$color-9;
}

.color-10{
    background-color: color.$color-10;
}

header{
    overflow: hidden;
    background-color: color.$bg-header;

    h1{
        @include reset-mp();
        padding: 10px;
        font-size: 2rem;
        font-family: gluten-bold, sans-serif;
    }

    .link-doc{
        display: block;
        @include reset-mp();
        width: max-content;
        padding: 0.25em 0.5em;
        margin: 0 auto 10px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: gluten-light, Helvetica;
        background-color: color.$bg-item-menu;
        color: color.$color-font-1;

        &:hover{
            transition: 0.5s;
            font-size: 1.75rem;
            background-color: color.$bg-item-menu-hover;
            color: color.$color-font-2;
            font-weight: 700;
        }
    }
}

.articulo{
    @include reset-mp();
    padding: 10px;
    margin-bottom: 20px;
    background-color: color.$bg-articulo;

    h2{
        @include reset-mp();
        padding: 0.5em;
        font-size: 1.75rem;
        font-family: gluten-bold, Arial;
    }

}

.texto{
    @include reset-mp();
    font-size: 1.25rem;
    font-family: gluten-regular, verdana;
    background-color: color.$bg-texto;
}

.contenedor{
    margin: 0 10px 20px;
    padding: 10px;
    background-color: color.$bg-articulo;

    > h2{
        @include reset-mp();
        font-size: 2rem;
        font-family: gluten-regular, serif;
        text-decoration: underline;
    }

}
