@use "../global/general";

/*
    Relative -> El elemento mantendra su posicion y medidas en el flujo de renderizado y mantendra su espacio reservado. Si lo movemos lo hara usando su posicion en el html como punto de referencia.

    Orden de apilamiento: el ultimo elemento declarado es el que predomina

    Punto de referencia de caja es el borde superior izquierdo.
    
*/

.hijo{
    width: 100px;
    height: 100px;
}

.posicion-1,
.posicion-2,
.posicion-3,
.posicion-4{
    position: relative;
}

.posicion-1{
    top: 50px;
    left: 150px;
    /* invertir el orden de apilamiento */
    z-index: 100;
}

.posicion-2{
    bottom: 50px;
    left: 150px;
    z-index: 10;
}

.posicion-3{
    top: 50px;
    left: 150px;
}

.posicion-4{
    bottom: 100px;
    left: 150px;
    border-radius: 75px;
}