@use "../global/general";
@use "../global/colores" as c;

/*
Fixed -> El elemento perdera sus medidas y su espacio reservado. Si lo movemos usara el elemento html de referencia, y ademas se quedara fijo en esa posicion aunque hagamos scroll.

Fixed siempre hara referencia al html, no importa su contenedor.

*/

.menu{
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0;
    width: 100%;
    height: 10vh;
    padding: 0.5em 1em;
    font-size: 2rem;
    background-color: c.$bg-header;
}

main{
    position: relative;
    top: 10vh;
    z-index: 100;
}

p{
    font-family: gluten-regular, sans-serif;
    font-size: 1.25rem;
}