@use "../global/general";
@use "../global/colores" as c;

/*
    Sticky -> Es una mezcla de position relative y "fixed".
    
    Con este tipo de posicionamiento los valores top, bottom, left y right no sirven para mover el elemento, si no, para indicarle en que punto pasara a tener un comportamiento de posicionamiento similar a fixed, hasta llegar a ese punto se comportara como si no tuviera posicionamiento, aunque si contara como posicionamiento si necesitaramos colocar otro elemento respecto a el (absoluto).

    Con sticky recorremos las dimensiones (alto) del elemento que lo contiene.

    Sticky no funcionara si la propiedad overflow esta en otra configuracion que no sea visible (defecto).
*/


img{
    display: block;
    width: 100%;
    height: 100px;
}

.header{
    text-align: center;
    background-color: c.$bg-articulo;
    color: c.$color-font-2;
    
    /* contenedor padre tendra un alto definido */
    height: 250px;
    /* position: sticky;
    top: 0; */
}

.menu{
    padding: 10px;
    font-size: 2rem;

    /* mientras hagamos scroll en los 250px (alto del padre), se comportara como si fuera fixed en la parte de arriba */
    position: sticky;
    top: 0;
}

article{
    border: 1px solid red;
    margin-bottom: 20px;
    background-color: c.$bg-articulo;

    /*Titulo del articulo fijo*/
    .article-title{
        margin: 0;
        padding: 10px;
        font-size: 1.5rem;
        font-family: gluten-bold, serif;
        position: sticky;
        top: 0;
        background-color: c.$bg-articulo;
    }

    p{
        font: {
            size: 1.25rem;
            family: gluten-regular, sans-serif;
        }
        background-color: c.$color-3;
    }

}