@use "../global/general";
@use "../global/colores" as c;

/*
Si tenemos dos o mas elementos superpuestos, debemos darle un orden de apilamiento, esto lo logramos con z-index.

    z-index -> Nos permite mover el elemento en el contexto de apilamiento (eje z).
    
    z-index: auto; -> Valor por defecto.

    Para poder utilizar z-index el elemento debe estar posicionado

    z-index con mayor valor es que tiene prioridad de posicionamiento.

    El padre jamas podra posicionarse adelante del hijo. Pero, el hijo si puede posicionarse atras del padre con un orden negativo.



El stacking context es el la prioridad en la que el elemento se ubicara respecto de otros elementos. El orden de apilamiento es:
    
    1 - Primero => Elementos posicionados con un z-index de 1 o mas.
    
    2 - Segundo => Elementos posicionados sin z-index declarado o z-index en auto.
    
    3 - Tercero => Elementos no posicionados.
    
    4 - Ultimo => Elementos con z-index negativo.
    
*/

.contenedor{
    width: 100%;
    height: 400px;
    background-color: c.$color-5;
}

/* sin declarar z-index el orden de apilamiento se dara por el ultimo elemento definido */
.pos-1,
.pos-2,
.pos-3{
    position: relative;
}

.pos-1{
    left: 50px;
}

.pos-2{
    top: -50px;
    left: 100px;
}

.pos-3{
    bottom: 100px;
    left: 150px;
}

.contenedor-posicionado{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: c.$color-5;
}

/* invertir posicionamiento por defecto declando z-index */
.pos-4,
.pos-5,
.pos-6,
.pos-7{
    position: absolute;
}

.pos-4{
    top: 50px;
    left: 100px;
    z-index: 40;
}

.pos-5{
    top: 50px;
    left: 200px;
    z-index: 30;
}

.pos-6{
    bottom: 50px;
    left: 100px;
    z-index: 20;
}

.pos-7{
    bottom: 50px;
    left: 200px;
    z-index: 10;
}

/* articulo 3: posicionar hijo detras del padre */
.padre{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: c.$color-5;
}

.hijo{
    position: absolute;
    top: -25px;
    left: 200px;
    /* colocarlo adelante del padre z-index positivo */
    /* z-index: 1; */
    /* colocarlo atras del padre con z-index negativo */
    /* z-index: -1; */
}