@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}
header .link-doc {
  display: block;
  margin: 0;
  padding: 0;
  width: max-content;
  padding: 0.25em 0.5em;
  margin: 0 auto 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: gluten-light, Helvetica;
  background-color: #2c394b;
  color: #fff;
}
header .link-doc:hover {
  transition: 0.5s;
  font-size: 1.75rem;
  background-color: #0a7066;
  color: #000;
  font-weight: 700;
}

.contenedor {
  margin: 0 10px 20px;
  padding: 10px;
  background-color: #43919B;
}

/*
    em -> Tamaño de letra del elemento padre (relativo al contexto).
    em es relativo a su elemento padre

    rem -> Tamaño de letra del elemento raiz (relativo a doc html).
    1rem = 16px por defecto

    NOTA: para tamaño de fuente utilizar rem. Para medidas de elementos cuya disposicion de tamaño dependen de contenedores utilizar em para adaptarlo.
*/
.contenedor-rem > h2 {
  margin: 0;
  font-size: 3rem;
  /*3rem = 48px*/
}
.contenedor-rem > p {
  font-family: gluten-light, sans-serif;
  font-size: 1.5rem;
  /*1.5rem = 24px*/
}

.contenedor-em > h2 {
  margin: 0;
  margin-bottom: 10px;
}
.contenedor-em .link {
  display: block;
  padding: 0.25em 0.5em;
  margin: 0.25em;
  /* Dependiendo del tamaño de la fuente, el box-model se ajustara */
  font-size: 1.75rem;
  font-family: gluten-light, serif;
  text-decoration: none;
  background-color: lightcoral;
  color: #fff;
  border-radius: 0.25em;
}

/*# sourceMappingURL=01-em-rem.css.map */
