@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

.contenedor {
  margin: 0 10px 20px;
  padding: 10px;
  background-color: #43919B;
}
.contenedor > h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: gluten-regular, serif;
  text-decoration: underline;
}

/*
Width es la propiedad que nos permite controlar el ancho de un elemento.

    % -> Cuando usamos porcentaje de referencia el tamaño del contenedor y el navegador calcula ese porcentaje. Esto no ocurre cuando usamos transform.

    Para usar %, el elemento padre debe tener un ancho  alto definido para hacer el calculo.

    auto -> Cuando usamos auto le pedimos al navegador que calcule en funcion del espacio disponible.

*/
.padre {
  /* darle medidas al contenedor padre */
  width: 75%;
  height: 200px;
  background-color: #334756;
}

.hijo-1 {
  width: 50%;
  height: 75%;
  font-size: 1.5rem;
  font-family: gluten-regular, sans-serif;
  line-height: 100px;
  background-color: #FF6363;
}

.hijo-2 {
  /* al darle un margen el contenido se desborda */
  margin-left: 150px;
  /* dar un width auto para evitar desbordamiento */
  /* width: 75%; */
  width: auto;
  height: 50%;
  font-size: 1.5rem;
  font-family: gluten-regular, sans-serif;
  line-height: 100px;
  background-color: #019267;
}

/*# sourceMappingURL=02-width.css.map */
