@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

.color-1 {
  background-color: #FF6363;
}

.color-2 {
  background-color: #36AE7C;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

/*
    min-width: ancho minimo.

    max-width: ancho maximo.

    min-height: alto minimo.

    max-height: alto maximo.
*/
.limite-ancho {
  margin-bottom: 20px;
  padding: 0.5em 1em;
  font-size: 2rem;
  font-family: gluten-regular, sans-serif;
  /* limitar dimensiones */
  min-width: 350px;
  max-width: 650px;
}

.limite-alto {
  margin-bottom: 20px;
  padding: 0.5em 1em;
  font-size: 2rem;
  font-family: gluten-regular, sans-serif;
  min-height: 200px;
  max-height: 400px;
}

/*# sourceMappingURL=05-limitar.css.map */
