@use "../global/general";
@use "../global/colores" as c;

/*
    em -> Tamaño de letra del elemento padre (relativo al contexto).
    em es relativo a su elemento padre

    rem -> Tamaño de letra del elemento raiz (relativo a doc html).
    1rem = 16px por defecto

    NOTA: para tamaño de fuente utilizar rem. Para medidas de elementos cuya disposicion de tamaño dependen de contenedores utilizar em para adaptarlo.
*/

.contenedor-rem{
    > h2{
        margin: 0;
        font-size: 3rem; /*3rem = 48px*/
    }

    > p{
        font-family: gluten-light, sans-serif;
        font-size: 1.5rem; /*1.5rem = 24px*/
    }
}

.contenedor-em{
    >h2{
        margin: 0;
        margin-bottom: 10px;
    }

    .link{
        display: block;
        padding: 0.25em 0.5em;
        margin: 0.25em;
        
        /* Dependiendo del tamaño de la fuente, el box-model se ajustara */
        font-size: 1.75rem;
        font-family: gluten-light, serif;
        
        text-decoration: none;
        background-color: lightcoral;
        color: #fff;
        border-radius: 0.25em;
    }
}

