@use "../global/general";
@use "../global/colores" as c;

/*
Width es la propiedad que nos permite controlar el ancho de un elemento.
        
    % -> Cuando usamos porcentaje de referencia el tamaño del contenedor y el navegador calcula ese porcentaje. Esto no ocurre cuando usamos transform.

    Para usar %, el elemento padre debe tener un ancho  alto definido para hacer el calculo.
    
    auto -> Cuando usamos auto le pedimos al navegador que calcule en funcion del espacio disponible.
    
*/

@mixin hijo {
    font: {
        size: 1.5rem;
        family: gluten-regular, sans-serif;
    }
    line-height: 100px;
}

.padre{
    /* darle medidas al contenedor padre */
    width: 75%;
    height: 200px;
    background-color: c.$bg-fondo;
}

.hijo-1{
    width: 50%;
    height: 75%;
    @include hijo();
    background-color: c.$color-1;
}

.hijo-2{
    /* al darle un margen el contenido se desborda */
    margin-left: 150px;
    /* dar un width auto para evitar desbordamiento */
    /* width: 75%; */
    width: auto;
    height: 50%;
    @include hijo();
    background-color: c.$color-4;
}
