@use "../global/general";

/*
    HEIGHT:

        % -> Cuando estamos dentro de un contenedor, este tiene que tener un alto declarado, si no, no podra calcular el porcentaje y se sustituira automaticamente por auto.

        auto -> Cuando utilizamos auto lo calculara el navegador en base al contenido del elemento.
    
    NOTA: Height es una propiedad que se debe calcular con CUIDADO. Si no es necesario establecer un alto, hay que dejar que el contenido sea el que de su alto, de lo contrario podria desbordar y necesitar un scroll.

    NOTA: position hace que el hight se vea alterado ya que pueden modificar los puntos de referencia para calcular el valor del height.

    Cuando se usa position absolute o fixed, el height en % se calculara en basedel viewport(espacio visible disponible).
*/

.contenedor{
    margin: 0 auto 20px;
    width: 80%;
    height: 250px;
}

.box-1{
    height: 50%;
}

.box-2{
    height: auto;
}