@use "../global/general";

/*
    VIEWPORT es el area util donde se mostrara la pagina web. IMPORTANTE, el area util es el area visible sin hacer scroll.

    Podemos usar el viewport como medida de varias formas:
        
        vw -> ViewPort Width hace referencia al ancho del viewport.

        vh -> ViewPort Height hace referencia al alto del viewport.

        vmax -> Utiliza el valor mas grande entre el ancho y el alto del viewport.

        vmin -> Utiliza el valor mas pequeño entre el ancho y el alto del viewport.

        1vw = 1% del ancho del viewport
        1vh = 1% del alto del viewport
        1vmin = 1% del valor que sea mas pequeño del viewport.
        1vmax = 1% del valor que sea mas grande del viewport.
*/

@mixin viewport ($line-height: null){
    margin-bottom: 20px;
    padding: 10px;
    font-size: 2.5rem;
    font-family: gluten-regular, sans-serif;
    line-height: $line-height;
}

.viewport-1{
    @include viewport();
    /* mitad del viewport */
    width: 50vw;
}

.viewport-2{
    @include viewport();
    /* con 100vw aparecera una barra de scroll por tener la barra de scroll en escritorio */
    width: 100vw;
}

.viewport-3{
    @include viewport(15);
    /* 100% del viewport height */
    height: 100vh;
}

.viewport-4{
    @include viewport(7);
    height: 50vh;
}

.viewport-5{
    @include viewport();
    width: 50vmin;
}

.viewport-6{
    @include viewport(3);
    height: 25vmax;
}