@use "../global/general";

/*
    min-width: ancho minimo.

    max-width: ancho maximo.

    min-height: alto minimo.

    max-height: alto maximo.
*/

@mixin box {
    margin-bottom: 20px;
    padding: 0.5em 1em;
    font-size: 2rem;
    font-family: gluten-regular, sans-serif;
}

.limite-ancho{
    @include box();
    /* limitar dimensiones */
    min-width: 350px;
    max-width: 650px;
}

.limite-alto{
    @include box();
    min-height: 200px;
    max-height: 400px;
}