@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

.articulo {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #43919B;
}
.articulo h2 {
  margin: 0;
  padding: 0;
  padding: 0.5em;
  font-size: 1.75rem;
  font-family: gluten-bold, Arial;
}

.texto {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-family: gluten-regular, verdana;
  background-color: #FF6B6B;
}

/*
La propiedad font-family permite definir la tipografia del texto.
    font-family: generic-family | family-name;


La propiedad font-size permite definir el tamaño de la fuente.
    font-size: smaller | xx-small | x-small | small | medium | large | x-large | xx-large | larger | <Longitud>;


La propiedad font-style permite colocar el texto en italic.
    font-style: normal | italic | oblique;


La propiedad font-variant permite colocar la fuente  a mayusculas mas pequeñas.
    font-variant: normal | small-caps;

La propiedad font-weight permite definir la intensidad de la fuente.
    font-weight: normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900;

IMPORTANDO FUENTES: 
    @font-face {
        font-family: <nombre_fuente>;
        src: url('<ruta>');
    }

*/
.tipografia {
  font-family: Helvetica;
}

.estilo-1, .estilo-2 {
  margin-bottom: 0;
}

.estilo-1 {
  font-style: normal;
}

.estilo-2 {
  font-style: italic;
}

.estilo-3 {
  font-style: oblique;
}

.variante {
  font-variant: small-caps;
}

.intensidad {
  /* font-weight: normal; */
  /* font-weight: bold; */
  /* font-weight: bolder; */
  /* font-weight: lighter; */
  /* font-weight: 100; */
  /* font-weight: 200; */
  /* font-weight: 300; */
  /* font-weight: 400; */
  /* font-weight: 500; */
  /* font-weight: 600; */
  font-weight: 700;
  /* font-weight: 800; */
  /* font-weight: 900; */
}

.fuente-1 {
  font-family: gluten-regular;
}

.fuente-2 {
  font-family: gluten-bold;
}

.fuente-3 {
  font-family: gluten-light;
}

.fuente-4 {
  font-family: gluten-thin;
}

/*# sourceMappingURL=01-fuentes.css.map */
