@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

.centrado {
  margin: 0 auto 20px;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

.articulo {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #43919B;
}
.articulo h2 {
  margin: 0;
  padding: 0;
  padding: 0.5em;
  font-size: 1.75rem;
  font-family: gluten-bold, Arial;
}

.texto {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-family: gluten-regular, verdana;
  background-color: #FF6B6B;
}

/*
text-align -> alineado de texto.

SINTAXIS: 

text-align: left | right | center | justify | start | end;

    left y start -> alineacion hacia la izquierda.

    right y end -> alineacion hacia la derecha.

    center -> alineacion centrada.

    justify -> alineacion justificada (no recomendada), rellena con espaciado para respetar el ancho del contenedor.
*/
.texto-centrado,
.texto-derecho,
.texto-izquierdo,
.texto-justificado {
  margin: 0 10px;
  padding: 0.5em 1em;
}

.texto-centrado {
  text-align: center;
}

.texto-izquierdo {
  text-align: start;
}

.texto-derecho {
  text-align: end;
}

.texto-justificado {
  text-align: justify;
}

/*# sourceMappingURL=02-alineado.css.map */
