@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

.articulo {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #43919B;
}
.articulo h2 {
  margin: 0;
  padding: 0;
  padding: 0.5em;
  font-size: 1.75rem;
  font-family: gluten-bold, Arial;
}

.texto {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-family: gluten-regular, verdana;
  background-color: #FF6B6B;
}

/*
text-indent -> sangria del texto
text-indent: <Longitud>;

letter-spacing -> espacio entre letras.
letter-spacing: normal | <Longitud>;
    normal -> valor por defecto.

word-spacing -> espacio entre palabras.
word-spacing: normal | <Longitud>;

white-space -> ubicacion del salto de linea.
white-space: normal | nowrap | pre | pre-wrap | pre-line;
    normal -> valor por defecto.
    nowrap -> sin saltos, pero si desborda, aparecerá una barra desplegable.
    pre -> salto en presencia de una etiquta pre.
*/
.sangria {
  text-align: left;
  text-indent: 30px;
}

.letras {
  letter-spacing: 10px;
}

.palabras {
  word-spacing: 10px;
}

.salto {
  /* white-space: normal; */
  white-space: nowrap;
  /* white-space: pre; */
}

/*# sourceMappingURL=03-espaciado.css.map */
