@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

.articulo {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #43919B;
}
.articulo h2 {
  margin: 0;
  padding: 0;
  padding: 0.5em;
  font-size: 1.75rem;
  font-family: gluten-bold, Arial;
}

.texto {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-family: gluten-regular, verdana;
  background-color: #FF6B6B;
}

/*
La propiedad tex-transform nos permite transformar ya sea a mayusculas o minisculas.
text-transform: normal | capitalize | lowercase | uppercase;
    normal -> valor por defecto.
    capitalize -> primer letra será en mayuscula.
    lowercase -> en minusculas.
    uppercase -> en mayusculas.


La propiedad text-decoration nos permite darle ciertos subrayados al texto.
text-decoration: none | underline | line-through; 
    none -> valor por defecto.
    underline -> subrayado inferior.
    overline -> subrayado superior.
    line-through -> texto linea media (tachado).
*/
.capitalizado {
  text-transform: capitalize;
}

.mayusculas {
  text-transform: uppercase;
}

.minusculas {
  text-transform: lowercase;
}

.subrayado-1 {
  text-decoration: underline;
}

.subrayado-2 {
  text-decoration: overline;
}

.subrayado-3 {
  text-decoration: line-through;
}

/*# sourceMappingURL=04-decoracion.css.map */
