@use "../global/general";

/*
La propiedad border-radius nos permite redondear los vertices de una caja de forma independiente.

border-radius es un shorthands que engloba 4 propiedades: 
    
    border-top-left-radius -> Radio del borde superior izquierdo.
    
    border-top-right-radius -> Radio del borde superior derecho.
    
    border-bottom-right-radius -> Radio del borde inferior derecho.

    border-bottom-left-radius -> Radio del borde inferior izquierdo.

SINTAXIS:  border-X: <Longitud> | <Longitud> <Longitud>;

Dependiendo si se le da un solo parametro, este dibujará un circulo en cada vertice.
Ejemplo=>   border-radius: 50px; -> Circulo de 50px de radio

Si se le da dos parametros, este  dibujará una elipse en cada vertice.
Ejemplo=>   border-radius: 100px 50px;  -> Elipse (x²/a²) + (y²/b²= 1

*/

@mixin fuente ($altura: null) {
    font-size: 1.5rem;
    font-family: gluten-regular;
    line-height: $altura;
}

.redondeado{
    @include fuente(5);
    border-radius: 25px;
}

.circulo{
    @include fuente(6);
    /* ancho de caja 150px */
    border-radius: 75px;
}

.elipse{
    @include fuente(5);
    width: 300px;
    /* version shorthand la sintaxis se complica*/

    /* dar medidas a cada borde de forma independiente */
    border-top-left-radius: 100px 75px;
    border-top-right-radius: 100px 75px;
    border-bottom-right-radius: 100px 75px;
    border-bottom-left-radius: 100px 75px;
    
}
