@use "../global/general";
@use "../global/colores" as c;

/*
La propiedad background es un shorthand que nos permite definir las especificaciones del fondo de un elemento.

    background: attachment | color | image |repeat | position / size;



La propiedad background-attachment determina si la posicion de la imagen de fondo sera fija dentro de la pantalla o se desplazara con su bloque contenedor.

    background-attachment: scroll | fixed | inherit;

    scroll -> la imagen de fondo se movera dentro de la pantalla junto al bloque que la contiene.

    fixed -> la imagen de fondo estara fija en la pantalla y no se movera con el bloque que lo contiene.



La propiedad background-color nos permite definir el color de fondo de un elemento.

    background-color: Color | transparent | inherit;



La propiedad background-image nos permite establecer una o mas imágenes de fondo para un elemento.

    background-image: url | none | inherit;



La propiedad background-repeat nos permitedefinir como se repetira el fondo de un elemento. Ya sea repetirlo de forma horizonta, vertical, ambos ejes o sin repetir.

    background-repeat: repeat | no-repeat | repeat-x | repeat-y | space | round;

    Valor unico         |  Valor equivalente
    repeat-x            |     repeat   no-repeat
    repeat-y            |  no-repeat   repeat
    space               |      space   space
    round               |      round   round 
    no-repeat           |     repeat   repeat



La propiedad background-size permite definir el tamalo de fondo de un elemento.

    background-size: auto | contain | cover | <Longitud> | <Longitud> <Longitud>;

    auto -> valor por defecto.

    contain -> Escala la imagen al mayor tamaño posible sin recortarla sin estirarla. Contiene la imagen dentro de las especificaciones que indiquemos, no se adapta al ancho o alto, repite la imagen para completar.

    cover -> Escala la imagen al mayor tamaño posible si estirarla. El tamaño de la imagen se ajusta de forma proporcional (se adapta al ancho y alto del navegador).

    background-size: <width> <heigth>;

    <width> <height> : <Longitud> | <%> | em | auto;



La propiedad background-position define la posicion inicial de la imagen de fondo especificada.

    background-position: <background-position-x> <background-position-y>;

    background-position-x: auto | <Longitud> | <Porcentaje> | left | center | right ;

    background-position-y: auto | <Longitud> | <Porcentaje> | top | center | bottom ;
*/

$-bg-defecto: c.$bg-fondo;
$-url-defecto: url(./../../../public/assets/img/paisajes/paisaje_01.jpeg);
$-url-icono: url(./../../../public/assets/svg/bug-svgrepo-com.svg);

.fondo{
    width: 100%;
    height: 300px;
}

@mixin color-fondo($bg: $-bg-defecto) {
    background-color: $bg;
}

@mixin imagen-fondo ($url: $-url-defecto) {
    background-image: $url;
}

@mixin repetir-fondo ($repetir: no-repeat) {
    background-repeat: $repetir;
}

@mixin size-fondo ($size-x, $size-y: null) {
    @if $size-y == null {
        background-size: $size-x;
    }@else{
        background-size: $size-x  $size-y;
    }
}

@mixin posicion-fondo($pos-x, $pos-y: null) {
    @if $pos-y == null {
        background-position: $pos-x;
    } @else{
        background-position: $pos-x $pos-y;
    }
}

@mixin ubicando-fondo ($attachment: scroll){
    background-attachment: $attachment;
}

@mixin fondo ($bg: $-bg-defecto, $url: $-url-defecto, $repetir: no-repeat) {
    @include color-fondo($bg);
    @include imagen-fondo($url);
    @include repetir-fondo($repetir);
    @include size-fondo(cover);
}

.fondo-imagen{
    @include fondo();
}

.fondo-repetido{
    @include fondo();
    @include imagen-fondo($-url-icono);
    @include size-fondo(50px);
    @include repetir-fondo(repeat-y);
    /* repetir */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat; */
    /* background-repeat: repeat-x; */
    // background-repeat: repeat-y;
    /* background-repeat: space; */
    /* background-repeat: round; */
}

.fondo-ubicado{
    height: 500px;
    overflow-x: hidden;
    @include fondo();
    @include ubicando-fondo();
    // background-attachment: scroll;
    /* background-attachment: fixed; */
}

.fondo-size{
    @include fondo();
    @include size-fondo(contain);
    /* ajustando tamaño */ 
    /* background-size: auto; */
    /* background-size: contain; */
    // background-size: cover;
    /* background-size: 200px 150px; */
    /* background-size: 100% 50%; */
}

.fondo-posicion{
    height: 400px;
    @include fondo();
    @include size-fondo(250px);
    @include posicion-fondo(center);

    /* posicion */
    /* background-position: 100px 50px; */
    /* background-position: 25% 50%; */
    // background-position: center center;
    /* background-position: right top; */
    /* background-position: left bottom; */
    /* background-position: right bottom; */
}


.fondo-abreviado{
    /* background: <Color> <Image> <Repeat> <Position> ;*/
    /* background: darkcyan url('./../../assets/img/paisajes/paisaje_01.jpeg') no-repeat center center; */
    
    /* background: <Color> <Image> <Repeat> <Position> / <Size> ;*/
    background: $-bg-defecto $-url-defecto no-repeat center / cover;
}
