@media (max-width: 768px) {
    .header{
        flex-direction: column;

        > .logo {
            justify-content: center;
            padding: 10px 0;
        }

        > .navegacion {
            width: 100%;
        }
    }

    .unidad {
        > .titulo-unidad{
            top: 111px;
        }
    }

}

@media (max-width: 576px) {
    .menu{
        flex-direction: column;
    }

    .submenu{
        width: 50%;
    }

    .unidad{
        > .titulo-unidad{
            font-size: 1.5rem;
            top: 197px;
        }
    }
}

@media (max-width: 480px){
    .header{
        > .logo{
            display: none;
        }
    }

    .unidad{
        > .titulo-unidad{
            top: 129px;
        }
    }
}