@use "./../global/colores" as color;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    text-align: center;
    background-color: color.$bg-fondo;
    color: color.$color-font-1;
}