@use "./../global/colores" as c;

.footer{
    position: sticky;
    bottom: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: c.$bg-footer;

    .logo{
        img{
            width: 32px;
        }
    }
}