@use "./../global/colores" as c;
@use "./../global/font-lato";
@use "./../global/font-roboto";

@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin reset-a {
    text-decoration: none;
    font-family: lato-bold, serif;
    color: c.$color-font-1;
}

@mixin item-menu {
    display: block;
    padding: 0.5em 1em;
    font-size: 1.25rem;
    box-shadow: c.$box-shadow-bajo;
    background-color: c.$bg-item-menu;
    color: c.$color-font-1;
}

@mixin item-menu-hover {
    transition: 0.5s;
    font-size: 1.5rem;
    background-color: c.$bg-item-menu-hover;
    color: c.$color-font-2;
}

// Definicion del header
.header{
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: c.$bg-header;
}

.header{
    .logo{
        display: flex;
        align-items: center;

        img{
            width: 48px;
        }

        a{
            @include reset-a();
        }

    }

    .navegacion{
        width: 70%;

        ul{
            @include reset-list();
        }

    }

}

.menu{
    display: flex;
    justify-content: space-around;

    > li{
        position: relative;
        flex-grow: 1;

        > a{
            @include reset-a();
            @include item-menu();

            &:hover{
                @include item-menu-hover();
            }
        }

        &:hover .submenu{
            visibility: visible;
            opacity: 1;
        }

    }

}

.submenu{
    position: absolute;
    right: 0;
    z-index: 1500;

    display: flex;
    flex-direction: column;
    
    /*Esconder Submenu*/
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;

    > li {
        border-bottom: 1px solid #000;

        > a{
            @include reset-a();
            @include item-menu();
            font-size: 1rem;

            &:hover{
                @include item-menu-hover();
                font-size: 1.25rem;
            }
        }

    }

}

