@use "./../global/colores" as c;

@mixin reset-mp {
    margin: 0;
    padding: 0;
}

.unidad{
    padding: 0.5em;
    margin-bottom: 20px;
    background-color: c.$bg-unidad;

    .titulo-unidad{
        position: sticky;
        top: 48px;
        z-index: 500;

        margin: 0;
        margin-bottom: 5px;
        font-size: 2.3rem;
        font-family: roboto-black, Helvetica;
        background-color: inherit;
    }
}

.contenido{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-columns: minmax(150px, auto);

    > .tarjeta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: c.$box-shadow-medio;
        background-color: c.$bg-tarjeta;
    }

}

.tarjeta{
    .titulo-tarjeta{
        @include reset-mp();
        padding: 10px 0;
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-family: lato-bold-italic, serif;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: c.$bg-titulo-tarjeta;
    }

    .descripcion{
        @include reset-mp();
        flex-grow: 1;
        margin-bottom: 5px;
        font-size: 1.25rem;
        font-family: roboto-light, sans-serif;
    }

    .enlace{
        display: block;
        align-self: center;
        margin: 0 5px 10px 5px;
        padding: 0.25em 1em;
        text-decoration: none;
        font-size: 1.25rem;
        font-family: lato-bold-italic, cursive;
        border-radius: 0.5em;
        background-color: c.$bg-enlace-tarjeta;
        color: c.$color-font-1;
        box-shadow: c.$box-shadow-bajo;

        &:hover{
            transition: 0.5s;
            font-size: 1.5rem;
            box-shadow: c.$box-shadow-alto;
            background-color: c.$bg-enlace-tarjeta-hover;
            color: c.$color-font-2;
        }
    }
}