@use "../global/general";

/*
La propiedad font-family permite definir la tipografia del texto.
    font-family: generic-family | family-name;


La propiedad font-size permite definir el tamaño de la fuente.
    font-size: smaller | xx-small | x-small | small | medium | large | x-large | xx-large | larger | <Longitud>;


La propiedad font-style permite colocar el texto en italic.
    font-style: normal | italic | oblique;


La propiedad font-variant permite colocar la fuente  a mayusculas mas pequeñas.
    font-variant: normal | small-caps;

La propiedad font-weight permite definir la intensidad de la fuente.
    font-weight: normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900;

IMPORTANDO FUENTES: 
    @font-face {
        font-family: <nombre_fuente>;
        src: url('<ruta>');
    }

*/

.tipografia{
    font-family: Helvetica;
}

.tamaño{
    /* font-size: smaller; */
    /* font-size: xx-small; */
    /* font-size: x-small; */
    /* font-size: small; */
    /* font-size: medium; */
    /* font-size: large; */
    /* font-size: x-large; */
    /* font-size: xx-large; */
    /* font-size: larger; */
    /* font-size: 25px; */
    /* font-size: 1.5em; */
    font-size: 1.4rem;
}

.estilo-1, .estilo-2{
    margin-bottom: 0;
}

.estilo-1{
    font-style: normal;
}

.estilo-2{
    font-style: italic;
}

.estilo-3{
    font-style: oblique;
}

.variante{
    font-variant:small-caps;
}

.intensidad{
    /* font-weight: normal; */
    /* font-weight: bold; */
    /* font-weight: bolder; */
    /* font-weight: lighter; */
    /* font-weight: 100; */
    /* font-weight: 200; */
    /* font-weight: 300; */
    /* font-weight: 400; */
    /* font-weight: 500; */
    /* font-weight: 600; */
    font-weight: 700;
    /* font-weight: 800; */
    /* font-weight: 900; */
}

.fuente-1{
    font-family: gluten-regular;
}

.fuente-2{
    font-family: gluten-bold;
}

.fuente-3{
    font-family: gluten-light;
}

.fuente-4{
    font-family: gluten-thin;
}