@use "../global/general";
/*
text-align -> alineado de texto.

SINTAXIS: 

text-align: left | right | center | justify | start | end;

    left y start -> alineacion hacia la izquierda.
    
    right y end -> alineacion hacia la derecha.
    
    center -> alineacion centrada.
    
    justify -> alineacion justificada (no recomendada), rellena con espaciado para respetar el ancho del contenedor.
*/

.texto-centrado,
.texto-derecho,
.texto-izquierdo,
.texto-justificado{
    margin: 0 10px;
    padding: 0.5em 1em;
}

.texto-centrado{
    text-align: center;
}

.texto-izquierdo{
    text-align: start;
}

.texto-derecho{
    text-align: end;
}

.texto-justificado{
    text-align: justify;
}
