@use "../global/general";

/*
text-indent -> sangria del texto
text-indent: <Longitud>;

letter-spacing -> espacio entre letras.
letter-spacing: normal | <Longitud>;
    normal -> valor por defecto.

word-spacing -> espacio entre palabras.
word-spacing: normal | <Longitud>;

white-space -> ubicacion del salto de linea.
white-space: normal | nowrap | pre | pre-wrap | pre-line;
    normal -> valor por defecto.
    nowrap -> sin saltos, pero si desborda, aparecerá una barra desplegable.
    pre -> salto en presencia de una etiquta pre.
*/

.sangria{
    text-align: left;
    text-indent: 30px;
}

.letras{
    letter-spacing: 10px;
}

.palabras{
    word-spacing: 10px;
}

.salto{
    /* white-space: normal; */
    white-space: nowrap;
    /* white-space: pre; */
}