@use "../global/general";

/*
La propiedad tex-transform nos permite transformar ya sea a mayusculas o minisculas.
text-transform: normal | capitalize | lowercase | uppercase;
    normal -> valor por defecto.
    capitalize -> primer letra será en mayuscula.
    lowercase -> en minusculas.
    uppercase -> en mayusculas.


La propiedad text-decoration nos permite darle ciertos subrayados al texto.
text-decoration: none | underline | line-through; 
    none -> valor por defecto.
    underline -> subrayado inferior.
    overline -> subrayado superior.
    line-through -> texto linea media (tachado).
*/

.capitalizado{
    text-transform: capitalize;
}

.mayusculas{
    text-transform: uppercase;
}

.minusculas{
    text-transform: lowercase;
}

.subrayado-1{
    text-decoration: underline;
}

.subrayado-2{
    text-decoration: overline;
}

.subrayado-3{
    text-decoration: line-through;
}
