* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

@font-face {
  font-family: lato-black;
  src: url("./../../../public/assets/font/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: lato-black-italic;
  src: url("./../../../public/assets/font/Lato/Lato-BlackItalic.ttf");
}
@font-face {
  font-family: lato-bold;
  src: url("./../../../public/assets/font/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: lato-bold-italic;
  src: url("./../../../public/assets/font/Lato/Lato-BoldItalic.ttf");
}
@font-face {
  font-family: lato-italic;
  src: url("./../../../public/assets/font/Lato/Lato-Italic.ttf");
}
@font-face {
  font-family: lato-light;
  src: url("./../../../public/assets/font/Lato/Lato-LightItalic.ttf");
}
@font-face {
  font-family: lato-light-italic;
  src: url("./../../../public/assets/font/Lato/Lato-LightItalic.ttf");
}
@font-face {
  font-family: lato-regular;
  src: url("./../../../public/assets/font/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: lato-thin;
  src: url("./../../../public/assets/font/Lato/Lato-Thin.ttf");
}
@font-face {
  font-family: lato-thin-italic;
  src: url("./../../../public/assets/font/Lato/Lato-ThinItalic.ttf");
}
@font-face {
  font-family: roboto-black;
  src: url("./../../../public/assets/font/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: roboto-black-italic;
  src: url("./../../../public/assets/font/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: roboto-bold;
  src: url("./../../../public/assets/font/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: roboto-bold-italic;
  src: url("./../../../public/assets/font/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: roboto-italic;
  src: url("./../../../public/assets/font/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: roboto-light;
  src: url("./../../../public/assets/font/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: roboto-light-italic;
  src: url("./../../../public/assets/font/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: roboto-medium;
  src: url("./../../../public/assets/font/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: roboto-medium-italic;
  src: url("./../../../public/assets/font/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: roboto-regular;
  src: url("./../../../public/assets/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: roboto-thin;
  src: url("./../../../public/assets/font/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: roboto-thin-italic;
  src: url("./../../../public/assets/font/Roboto/Roboto-ThinItalic.ttf");
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #04293a;
}

.header .logo {
  display: flex;
  align-items: center;
}
.header .logo img {
  width: 48px;
}
.header .logo a {
  text-decoration: none;
  font-family: lato-bold, serif;
  color: #fff;
}
.header .navegacion {
  width: 70%;
}
.header .navegacion ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  justify-content: space-around;
}
.menu > li {
  position: relative;
  flex-grow: 1;
}
.menu > li > a {
  text-decoration: none;
  font-family: lato-bold, serif;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  font-size: 1.25rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  background-color: #2c394b;
  color: #fff;
}
.menu > li > a:hover {
  transition: 0.5s;
  font-size: 1.5rem;
  background-color: #0a7066;
  color: #000;
}
.menu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu {
  position: absolute;
  right: 0;
  z-index: 1500;
  display: flex;
  flex-direction: column;
  /*Esconder Submenu*/
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
.submenu > li {
  border-bottom: 1px solid #000;
}
.submenu > li > a {
  text-decoration: none;
  font-family: lato-bold, serif;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  font-size: 1.25rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  background-color: #2c394b;
  color: #fff;
  font-size: 1rem;
}
.submenu > li > a:hover {
  transition: 0.5s;
  font-size: 1.5rem;
  background-color: #0a7066;
  color: #000;
  font-size: 1.25rem;
}

.unidad {
  padding: 0.5em;
  margin-bottom: 20px;
  background-color: #35858b;
}
.unidad .titulo-unidad {
  position: sticky;
  top: 48px;
  z-index: 500;
  margin: 0;
  margin-bottom: 5px;
  font-size: 2.3rem;
  font-family: roboto-black, Helvetica;
  background-color: inherit;
}

.contenido {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-columns: minmax(150px, auto);
}
.contenido > .tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #062c30;
}

.tarjeta .titulo-tarjeta {
  margin: 0;
  padding: 0;
  padding: 10px 0;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-family: lato-bold-italic, serif;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #05595b;
}
.tarjeta .descripcion {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  margin-bottom: 5px;
  font-size: 1.25rem;
  font-family: roboto-light, sans-serif;
}
.tarjeta .enlace {
  display: block;
  align-self: center;
  margin: 0 5px 10px 5px;
  padding: 0.25em 1em;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: lato-bold-italic, cursive;
  border-radius: 0.5em;
  background-color: #05595b;
  color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.tarjeta .enlace:hover {
  transition: 0.5s;
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
  background-color: #019267;
  color: #000;
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #04293a;
}
.footer .logo img {
  width: 32px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .header > .logo {
    justify-content: center;
    padding: 10px 0;
  }
  .header > .navegacion {
    width: 100%;
  }

  .unidad > .titulo-unidad {
    top: 111px;
  }
}
@media (max-width: 576px) {
  .menu {
    flex-direction: column;
  }

  .submenu {
    width: 50%;
  }

  .unidad > .titulo-unidad {
    font-size: 1.5rem;
    top: 197px;
  }
}
@media (max-width: 480px) {
  .header > .logo {
    display: none;
  }

  .unidad > .titulo-unidad {
    top: 129px;
  }
}

/*# sourceMappingURL=index.css.map */
