@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

.caja {
  width: 150px;
  height: 150px;
  line-height: 100px;
  font-family: gluten-regular;
  border: 5px solid #fff;
}

.centrado {
  margin: 0 auto 20px;
}

.color-1 {
  background-color: #FF6363;
}

.color-2 {
  background-color: #36AE7C;
}

.color-3 {
  background-color: #187498;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

.articulo {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #43919B;
}
.articulo h2 {
  margin: 0;
  padding: 0;
  padding: 0.5em;
  font-size: 1.75rem;
  font-family: gluten-bold, Arial;
}

/*
La propiedad border-radius nos permite redondear los vertices de una caja de forma independiente.

border-radius es un shorthands que engloba 4 propiedades: 

    border-top-left-radius -> Radio del borde superior izquierdo.

    border-top-right-radius -> Radio del borde superior derecho.

    border-bottom-right-radius -> Radio del borde inferior derecho.

    border-bottom-left-radius -> Radio del borde inferior izquierdo.

SINTAXIS:  border-X: <Longitud> | <Longitud> <Longitud>;

Dependiendo si se le da un solo parametro, este dibujará un circulo en cada vertice.
Ejemplo=>   border-radius: 50px; -> Circulo de 50px de radio

Si se le da dos parametros, este  dibujará una elipse en cada vertice.
Ejemplo=>   border-radius: 100px 50px;  -> Elipse (x²/a²) + (y²/b²= 1

*/
.redondeado {
  font-size: 1.5rem;
  font-family: gluten-regular;
  line-height: 5;
  border-radius: 25px;
}

.circulo {
  font-size: 1.5rem;
  font-family: gluten-regular;
  line-height: 6;
  /* ancho de caja 150px */
  border-radius: 75px;
}

.elipse {
  font-size: 1.5rem;
  font-family: gluten-regular;
  line-height: 5;
  width: 300px;
  /* version shorthand la sintaxis se complica*/
  /* dar medidas a cada borde de forma independiente */
  border-top-left-radius: 100px 75px;
  border-top-right-radius: 100px 75px;
  border-bottom-right-radius: 100px 75px;
  border-bottom-left-radius: 100px 75px;
}

/*# sourceMappingURL=01-border-radius.css.map */
