@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}
header .link-doc {
  display: block;
  margin: 0;
  padding: 0;
  width: max-content;
  padding: 0.25em 0.5em;
  margin: 0 auto 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: gluten-light, Helvetica;
  background-color: #2c394b;
  color: #fff;
}
header .link-doc:hover {
  transition: 0.5s;
  font-size: 1.75rem;
  background-color: #0a7066;
  color: #000;
  font-weight: 700;
}

.articulo {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #43919B;
}
.articulo h2 {
  margin: 0;
  padding: 0;
  padding: 0.5em;
  font-size: 1.75rem;
  font-family: gluten-bold, Arial;
}

/*
La propiedad background es un shorthand que nos permite definir las especificaciones del fondo de un elemento.

    background: attachment | color | image |repeat | position / size;



La propiedad background-attachment determina si la posicion de la imagen de fondo sera fija dentro de la pantalla o se desplazara con su bloque contenedor.

    background-attachment: scroll | fixed | inherit;

    scroll -> la imagen de fondo se movera dentro de la pantalla junto al bloque que la contiene.

    fixed -> la imagen de fondo estara fija en la pantalla y no se movera con el bloque que lo contiene.



La propiedad background-color nos permite definir el color de fondo de un elemento.

    background-color: Color | transparent | inherit;



La propiedad background-image nos permite establecer una o mas imágenes de fondo para un elemento.

    background-image: url | none | inherit;



La propiedad background-repeat nos permitedefinir como se repetira el fondo de un elemento. Ya sea repetirlo de forma horizonta, vertical, ambos ejes o sin repetir.

    background-repeat: repeat | no-repeat | repeat-x | repeat-y | space | round;

    Valor unico         |  Valor equivalente
    repeat-x            |     repeat   no-repeat
    repeat-y            |  no-repeat   repeat
    space               |      space   space
    round               |      round   round 
    no-repeat           |     repeat   repeat



La propiedad background-size permite definir el tamalo de fondo de un elemento.

    background-size: auto | contain | cover | <Longitud> | <Longitud> <Longitud>;

    auto -> valor por defecto.

    contain -> Escala la imagen al mayor tamaño posible sin recortarla sin estirarla. Contiene la imagen dentro de las especificaciones que indiquemos, no se adapta al ancho o alto, repite la imagen para completar.

    cover -> Escala la imagen al mayor tamaño posible si estirarla. El tamaño de la imagen se ajusta de forma proporcional (se adapta al ancho y alto del navegador).

    background-size: <width> <heigth>;

    <width> <height> : <Longitud> | <%> | em | auto;



La propiedad background-position define la posicion inicial de la imagen de fondo especificada.

    background-position: <background-position-x> <background-position-y>;

    background-position-x: auto | <Longitud> | <Porcentaje> | left | center | right ;

    background-position-y: auto | <Longitud> | <Porcentaje> | top | center | bottom ;
*/
.fondo {
  width: 100%;
  height: 300px;
}

.fondo-imagen {
  background-color: #334756;
  background-image: url(./../../../public/assets/img/paisajes/paisaje_01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-repetido {
  background-color: #334756;
  background-image: url(./../../../public/assets/img/paisajes/paisaje_01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../../../public/assets/svg/bug-svgrepo-com.svg);
  background-size: 50px;
  background-repeat: repeat-y;
  /* repetir */
  /* background-repeat: no-repeat; */
  /* background-repeat: repeat; */
  /* background-repeat: repeat-x; */
  /* background-repeat: space; */
  /* background-repeat: round; */
}

.fondo-ubicado {
  height: 500px;
  overflow-x: hidden;
  background-color: #334756;
  background-image: url(./../../../public/assets/img/paisajes/paisaje_01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  /* background-attachment: fixed; */
}

.fondo-size {
  background-color: #334756;
  background-image: url(./../../../public/assets/img/paisajes/paisaje_01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  /* ajustando tamaño */
  /* background-size: auto; */
  /* background-size: contain; */
  /* background-size: 200px 150px; */
  /* background-size: 100% 50%; */
}

.fondo-posicion {
  height: 400px;
  background-color: #334756;
  background-image: url(./../../../public/assets/img/paisajes/paisaje_01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 250px;
  background-position: center;
  /* posicion */
  /* background-position: 100px 50px; */
  /* background-position: 25% 50%; */
  /* background-position: right top; */
  /* background-position: left bottom; */
  /* background-position: right bottom; */
}

.fondo-abreviado {
  /* background: <Color> <Image> <Repeat> <Position> ;*/
  /* background: darkcyan url('./../../assets/img/paisajes/paisaje_01.jpeg') no-repeat center center; */
  /* background: <Color> <Image> <Repeat> <Position> / <Size> ;*/
  background: #334756 url(./../../../public/assets/img/paisajes/paisaje_01.jpeg) no-repeat center/cover;
}

/*# sourceMappingURL=02-background.css.map */
