@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

/*
    Outline es la propiedad que nos permite dibujar un borde por fuera del modelo de caja.
    Es un shorthand que engloba: 
        outline-width -> Controla el ancho del outline.
        outline-style -> Controla el estilo del outline.
        outline-color -> Controla el color del outline.

    Tiene las mismas propiedades y sintaxis que border, pero con algunas diferencias.
        No ocupa sitio, ya que no forma parte del box-model.
        No se puede redondear.
        No se pueden controlar sus lados de forma independiente.

    Tambien cuenta con la propiedad outline-offset, que nos permite aumentar o disminuir la distancia del outline en relacion a la caja que pertenece
*/
.border,
.outline-1,
.outline-2,
.outline-3,
.outline-4 {
  width: 150px;
  padding: 1em 1.5em;
  margin: 50px auto;
  font-size: 1.25rem;
  font-family: gluten-regular, sans-serif;
  background-color: #242424;
}

.border {
  border: 10px solid lightcoral;
}

.outline-1 {
  /* similar a border */
  outline: 10px solid lightcoral;
}

.outline-2 {
  /* outline esta por fuera del borde */
  border: 10px solid lightgreen;
  outline: 10px solid lightcoral;
}

.outline-3 {
  border: 10px solid lightgreen;
  outline: 10px solid lightcoral;
  /* espaciar el borde con el outline */
  outline-offset: 10px;
}

.outline-4 {
  border: 10px solid lightgreen;
  outline: 10px solid lightcoral;
  /* colocar outline 5px por encima del borde */
  outline-offset: -5px;
}

/*# sourceMappingURL=03-outline.css.map */
