@use "./../global/general";

/*
La propiedad border es un shorthand (propiedad abreviada), compuesta por:

    border-width: <Longitud>; -> Tamaño del borde.
    border-style: <Estilo>;   -> Estilo del borde.
    border-color: <Color>;    -> Color del borde.

    Su sintaxis es la siguiente:

    border: <width> <style> <color>;
*/
.borde-oculto{
    border: 5px hidden black;
}

.borde-punteado{
    border: 10px dotted black;
}

.borde-rayas{
    border: 10px dashed black;
}

.borde-solido{
    border: 10px solid black;
}

.borde-doble{
    border: 10px double black;
}

.borde-sombreado{
    border: 15px groove darkcyan;
}

.borde-relieve{
    border: 15px ridge darkred;
}

.borde-recuadro{
    border: 15px inset darkviolet;
}

.borde-resaltado{
    border: 15px outset darkgreen;
}
