@use "../global/general";

/*
width -> ancho del elemento.
min-width -> ancho minimo.
max-width -> ancho maximo.

height -> alto del elemento.
min-height -> alto minimo.
max-height -> alto maximo.

line-height -> alto de linea.

Sintaxis: 
    width: auto | <Longitud>;
    min-width: <Longiud>;
    max-width: none | <Longitud>;

    height: auto | <Longitud>;
    min-height: <Longitud>;
    max-height: none | <Longitud>;

    line-height: normal | <numero> | <Longitud>;

Longitud: especificacion del tamaño.

Medida absoluta => longitud fija.

    cm (centímetro) => 1cm = 96px.

    mm (milímetro) => 1mm = 1/10cm = 0.1cm.

    Q (cuarto de milímetro) => 1Q = 1/4 mm = 1/40 cm.

    in (pulgadas) => 1in = 2.54cm = 96px.

    px (pixeles) => 1px = 1/96 in.

    pc (picas) => 1pc = 1/16 in.

    pt (puntos) => 1pt = 1/72 in.



Medidas relativas => longitud variable

    em => tamaño del elemento padre.

    ex => Altura x de la fuente del elemento.

    rem => Tamaño de la letra del elemento raiz.

    lh => Altura de la linea del elemento.

    vw => 1% del ancho de la ventana grafica.

    vh => 1% del ancho de la ventana grafica.

    vmin => 1% de la dimension mas pequeña de la ventana grafica.

    vmax => 1% de la dimension mas grande de la ventana grafica.
    
*/

.cuadrado{
    width: 200px;
    height: 200px;
    line-height: 150px;
    font-size: x-large;
}

.rectangulo{
    width: 300px;
    height: 150px;
    line-height: 130px;
    font-size: x-large;
}