@use "../global/general";

/*
La propiedad padding nos permite generar un espacio entre el elemento y el borde del mismo.

Padding es un shothand que engloba las siguientes propiedades: 
padding-top -> relleno superior.
padding-rigth -> relleno derecho.
padding-bottom -> relleno inferior.
padding-left -> relleno izquierdo.

SINTAXIS:
padding: <Longitud> | auto;

Si recibe 1 parametro -> padding: top/right/bottom/left;

Si recibe 2 parametros -> padding: top/bottom left/right;

Si recibe 3 parametros -> padding: top left/right bottom;

Si recibe 4 parametros -> padding: top right bottom left;
*/

.relleno-1,
.relleno-2,
.relleno-3,
.relleno-4{
    font-size: x-large;
    margin-bottom: 20px;
}

.relleno-1{
    padding: 50px;
}

.relleno-2{
    padding: 30px 10px;
}

.relleno-3{
    padding: 30px 20px 10px
}

.relleno-4{
    padding: 20px 30px 40px 50px;
}