@use "../global/general";

/*
margin: <Longitud> | auto; => Margen de elemento.
NOTA: para usar auto, el elemento debe tener un ancho declarado.

Margin es un shothand que engloba las siguientes propiedades: 
    margin-top -> margen superior.
    margin-rigth -> margen derecho.
    margin-bottom -> margen inferior.
    margin-left -> margen izquierdo.

Si recibe 1 parametro -> margin: top/right/bottom/left;

Si recibe 2 parametros -> margin: top/bottom left/right;

Si recibe 3 parametros -> margin: top left/right bottom;

Si recibe 4 parametros -> margin: top right bottom left;
*/

.margen-1{
    margin: 50px;
}

.margen-2{
    /* centrado */
    margin: 0 auto;
}

.margen-3{
    margin: 10px auto 20px;
}

.margen-4{
    margin: 0 0 20px auto;
}