@use "../global/general";

/*
El colapsado de margenes refiere a que los margenes verticales colapsan, tienden a solaparse, por lo cual no importa si se le declara un margin-top o margin-bottom si hay un elemento debajo o arriba este se solapará los margenes verticales.

Los margenes horizontales si se respetan.

Recomendacion: declarar un margin-bottom a cada elemento para que vaya descendiendo.
*/


/* al principio por defecto el header tiene un margen-top */
/* metodos para eliminar el margen-top del header por defecto */
header{
    /* metodo 1: asignar un padding-top decimal */
    padding-top: 0.1px;
    /* metodo 2: ocultar el desbordamiento */
    /* overflow: hidden; */
    background-color: gray;
}

/* A priori se asignan 10px de margen en todos lados, pero los margenes verticales se estan solapando */
.caja-1,
.caja-2,
.caja-3{
    margin: 10px;
}

/* solucion: asignar un margen inferior a cada elemento para que este vaya descendiendo */
.caja-1,
.caja-2,
.caja-3{
    /* comentar la siguiente linea para ver la diferencia */
    margin-bottom: 20px;
}

