@use "../global/general";

/*
La propiedad display nos permite cambiar el contexto de los elementos dentro del navegador.

SINTAXIS:

display: none | block | inline | inline-block;

    none -> Hace que el elemeno no se muestre, pero sigue cargandose.

    block -> Hace que el elemento sea de bloque.

    inline -> Hace que el elemento sea de linea.

    inline-block -> Hace que el elemento sea de linea, pero que admita propiedades de bloque como medidas y margenes verticales.


1 - Si una caja se define como un bloque, se comportará de las maneras siguientes:

    1.1 - La caja fuerza un salto de línea al llegar al final de la línea.
    1.2 - La caja se extenderá en la dirección de la línea para llenar todo el espacio disponible que haya en su contenedor. En la mayoría de los casos, esto significa que la caja será tan ancha como su contenedor, y llenará el 100% del espacio disponible.
    1.3 - Se respetan las propiedades width y height.
    1.4 - El relleno, el margen y el borde mantienen a los otros elementos alejados de la caja.


2 - Si una caja tiene una visualización externa de tipo inline (en línea), entonces:

    2.1 - La caja no fuerza ningún salto de línea al llegar al final de la línea.
    2.2 - Las propiedades width y height no se aplican.
    2.3 - Se aplican relleno, margen y bordes verticales, pero no mantienen alejadas otras cajas en línea.
    2.4 - Se aplican relleno, margen y bordes horizontales, y mantienen alejadas otras cajas en línea.
*/

.oculto{
    display: none;
}

.bloque{
    /* convertir a un elemento de bloque */
    display: block;
    /* darle medidas */
    width: 200px;
    padding: 20px;
    border: 5px solid #fff;
    /* texto */
    font-size: x-large;
    text-decoration: none;
    /* color */
    background-color: gray;
    color: #fff;
}

.linea{
    /* conertir a elementos de línea */
    display: inline;
    /* solo puede darles medidas horizontales */
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
    background-color: lightslategrey;
}


/* display: inline-brock */
.lista{
    list-style: none;
}

.lista>li{
    /* visualizar en linea con propiedades de bloque */
    display: inline-block;
    /* darle medidas */
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /* darle un borde redondeado */
    border-radius: 10px;
    background-color: lightslategray;
}