@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

.caja {
  width: 150px;
  height: 150px;
  line-height: 100px;
  font-family: gluten-regular;
  border: 5px solid #fff;
}

.centrado {
  margin: 0 auto 20px;
}

.color-1 {
  background-color: #FF6363;
}

.color-2 {
  background-color: #36AE7C;
}

.color-3 {
  background-color: #187498;
}

.color-4 {
  background-color: #019267;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

.articulo {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #43919B;
}
.articulo h2 {
  margin: 0;
  padding: 0;
  padding: 0.5em;
  font-size: 1.75rem;
  font-family: gluten-bold, Arial;
}

/*
La propiedad border es un shorthand (propiedad abreviada), compuesta por:

    border-width: <Longitud>; -> Tamaño del borde.
    border-style: <Estilo>;   -> Estilo del borde.
    border-color: <Color>;    -> Color del borde.

    Su sintaxis es la siguiente:

    border: <width> <style> <color>;
*/

.borde-punteado {
  border: 10px dotted black;
}

.borde-rayas {
  border: 10px dashed black;
}

.borde-solido {
  border: 10px solid black;
}

.borde-doble {
  border: 10px double black;
}

.borde-sombreado {
  border: 15px groove darkcyan;
}

.borde-relieve {
  border: 15px ridge darkred;
}

.borde-recuadro {
  border: 15px inset darkviolet;
}

.borde-resaltado {
  border: 15px outset darkgreen;
}

/*# sourceMappingURL=01-border.css.map */
