@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

.color-1 {
  background-color: #FF6363;
}

.color-2 {
  background-color: #36AE7C;
}

.color-3 {
  background-color: #187498;
}

.color-4 {
  background-color: #019267;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

/*
La propiedad padding nos permite generar un espacio entre el elemento y el borde del mismo.

Padding es un shothand que engloba las siguientes propiedades: 
padding-top -> relleno superior.
padding-rigth -> relleno derecho.
padding-bottom -> relleno inferior.
padding-left -> relleno izquierdo.

SINTAXIS:
padding: <Longitud> | auto;

Si recibe 1 parametro -> padding: top/right/bottom/left;

Si recibe 2 parametros -> padding: top/bottom left/right;

Si recibe 3 parametros -> padding: top left/right bottom;

Si recibe 4 parametros -> padding: top right bottom left;
*/
.relleno-1,
.relleno-2,
.relleno-3,
.relleno-4 {
  font-size: x-large;
  margin-bottom: 20px;
}

.relleno-1 {
  padding: 50px;
}

.relleno-2 {
  padding: 30px 10px;
}

.relleno-3 {
  padding: 30px 20px 10px;
}

.relleno-4 {
  padding: 20px 30px 40px 50px;
}

/*# sourceMappingURL=03-padding.css.map */
