@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

.caja {
  width: 150px;
  height: 150px;
  line-height: 100px;
  font-family: gluten-regular;
  border: 5px solid #fff;
}

.color-1 {
  background-color: #FF6363;
}

.color-2 {
  background-color: #36AE7C;
}

.color-3 {
  background-color: #187498;
}

.color-4 {
  background-color: #019267;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

/*
margin: <Longitud> | auto; => Margen de elemento.
NOTA: para usar auto, el elemento debe tener un ancho declarado.

Margin es un shothand que engloba las siguientes propiedades: 
    margin-top -> margen superior.
    margin-rigth -> margen derecho.
    margin-bottom -> margen inferior.
    margin-left -> margen izquierdo.

Si recibe 1 parametro -> margin: top/right/bottom/left;

Si recibe 2 parametros -> margin: top/bottom left/right;

Si recibe 3 parametros -> margin: top left/right bottom;

Si recibe 4 parametros -> margin: top right bottom left;
*/
.margen-1 {
  margin: 50px;
}

.margen-2 {
  /* centrado */
  margin: 0 auto;
}

.margen-3 {
  margin: 10px auto 20px;
}

.margen-4 {
  margin: 0 0 20px auto;
}

/*# sourceMappingURL=04-margin.css.map */
