@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

.caja {
  width: 150px;
  height: 150px;
  line-height: 100px;
  font-family: gluten-regular;
  border: 5px solid #fff;
}

.color-1 {
  background-color: #FF6363;
}

.color-2 {
  background-color: #36AE7C;
}

.color-3 {
  background-color: #187498;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}

/*
El colapsado de margenes refiere a que los margenes verticales colapsan, tienden a solaparse, por lo cual no importa si se le declara un margin-top o margin-bottom si hay un elemento debajo o arriba este se solapará los margenes verticales.

Los margenes horizontales si se respetan.

Recomendacion: declarar un margin-bottom a cada elemento para que vaya descendiendo.
*/
/* al principio por defecto el header tiene un margen-top */
/* metodos para eliminar el margen-top del header por defecto */
header {
  /* metodo 1: asignar un padding-top decimal */
  padding-top: 0.1px;
  /* metodo 2: ocultar el desbordamiento */
  /* overflow: hidden; */
  background-color: gray;
}

/* A priori se asignan 10px de margen en todos lados, pero los margenes verticales se estan solapando */
.caja-1,
.caja-2,
.caja-3 {
  margin: 10px;
}

/* solucion: asignar un margen inferior a cada elemento para que este vaya descendiendo */
.caja-1,
.caja-2,
.caja-3 {
  /* comentar la siguiente linea para ver la diferencia */
  margin-bottom: 20px;
}

/*# sourceMappingURL=05-colapsado-margenes.css.map */
