@charset "UTF-8";
@font-face {
  font-family: gluten-bold;
  src: url("./../../../public/assets/font/gluten/Gluten-Bold.ttf");
}
@font-face {
  font-family: gluten-light;
  src: url("./../../../public/assets/font/gluten/Gluten-Light.ttf");
}
@font-face {
  font-family: gluten-regular;
  src: url("./../../../public/assets/font/gluten/Gluten-Regular.ttf");
}
@font-face {
  font-family: gluten-thin;
  src: url("./../../../public/assets/font/gluten/Gluten-Thin.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  text-align: center;
  background-color: #334756;
  color: #fff;
}

header {
  overflow: hidden;
  background-color: #04293a;
}
header h1 {
  margin: 0;
  padding: 0;
  padding: 10px;
  font-size: 2rem;
  font-family: gluten-bold, sans-serif;
}
header .link-doc {
  display: block;
  margin: 0;
  padding: 0;
  width: max-content;
  padding: 0.25em 0.5em;
  margin: 0 auto 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: gluten-light, Helvetica;
  background-color: #2c394b;
  color: #fff;
}
header .link-doc:hover {
  transition: 0.5s;
  font-size: 1.75rem;
  background-color: #0a7066;
  color: #000;
  font-weight: 700;
}

.articulo {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #43919B;
}
.articulo h2 {
  margin: 0;
  padding: 0;
  padding: 0.5em;
  font-size: 1.75rem;
  font-family: gluten-bold, Arial;
}

/*
Decimos que un contenido se desborda cuando la caja es mas pequeña que el contenedor.

Overflow: Es la propiedad que controla que debe hacer la caja cuando su contenido se desborda del contenedor.

Es un shorthand que engloba overflow-x (eje horizontal) y overflow-y (eje vertical).

Tiene 4 posibles valores: 

    visible -> Valor por defecto.

    hidden -> El contenido que se desborda no se podra visualizar (pero se seguira cargando). Si aplicamos esta propiedad en un solo eje, el otro se pondra automaticamente en el valor de scroll.

    scroll -> Aparecera barra de scroll en el eje asignado (x o y).

    auto -> Apareceran barras de scroll en el caso que hiciera falta.

*/
.contenedor {
  height: 250px;
  padding: 10px;
  background-color: #43919B;
}
.contenedor p {
  font-size: 1.25rem;
  font-family: gluten-regular, Verdana;
}

.overflow-1 {
  overflow: hidden;
}

.overflow-2 {
  overflow: auto;
}

.overflow-3 {
  overflow: scroll;
}

.overflow-4 {
  /* solo eje y tendra scroll */
  overflow-x: hidden;
}

/*# sourceMappingURL=07-overflow.css.map */
